@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html *
{
   font-family: 'Noto Sans KR', sans-serif;
}

input {
    float: left;
    display: block;
    border: 1px solid rgb(215, 219, 230);
    margin-bottom: 8px;
    padding: 16px 12px 12px 12px;
    max-width: 100%;
    height: 28px;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
}

img + input {
    margin-top: 38px;
}

input:focus{
    outline: none;
}

input::placeholder {
    color: rgb(215, 219, 230);
}

img {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

button {
    display: block;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 22px 0 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #1a7cff;
}

