doctype html
html
  head
    title= title
    block scripts
    link(rel='stylesheet', href='common/style/GlobalStyles.css')
    link(rel='stylesheet', href='components/templates/default/styles.css')
  body
    block content
