@import "../../atoms/button/styles.css";

.molecule-userInfoBody {
    display: block;
    padding: 15px;
    border: 1px solid rgb(215, 219, 230);
    margin-bottom: 8px;
    font-size: 15px;
    max-width: 100%;
}

.molecule-userInfoBody .key {
    display: inline-block;
    width: 60px;
    /* background-color: blueviolet; */
    color: darkgrey;
    margin-bottom: 10px;

}

.molecule-userInfoBody .value {
    /* background-color: rgb(64, 226, 43); */
    display: inline;
}