@import "../../atoms/img/styles.css";

.molecule-confirmHeader {
    align-content: center;
    width: 100%;
    vertical-align: left;
    display: grid;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 30px;
}