.atom-button-with-input{
    display: inline-block;
    padding: 14px 0 12px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid;
    background: #fff;
    width: 90px;
    height: 58px;
    max-height: 58px;
    border-color: #ccc;
    color: #bbc0cd;
}

.atom-button-success {
    border-color: #1a7cff;
    color: #1a7cff;
}

.atom-button-failed {
    pointer-events: none;
}

.atom-button-finished {
    pointer-events: none;
    background: #f8f9fa;
    border-color: #f8f9fa;
    color: #bbc0cd;
}