button {
    display: block;
    text-align: center;
    border: 0;
    margin: 0;
    padding: 22px 0 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #1a7cff;
}
  
/* Size */
.small {
    padding: 0.5em 0.6em;
}

.medium {
    padding: 1.1em 1.3em;
}

.large {
    padding: 1.7em 2.4em;
}

/* Theme */
.default {
    color: #fff;
    background: var(--brand);
    border: 1px solid var(--brand);
}

.rounded {
    color: var(--brand);
    background: #fff;
    border: 1px solid var(--brand);
    transition: color 0.3s ease, background 0.3s ease;
}

/* Disabled */
.disabled {
    color: var(--grey-2);
    background: color(var(--grey-4) tint(40%));
    border-color: var(--grey-4);
    cursor: default;
}